*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'HomemadeApple-Regular';
    src: url('../assets/fonts/HomemadeApple-Regular.ttf');
}
@font-face {
    font-family: 'PatrickHand-Regular';
    src: url('../assets/fonts/PatrickHand-Regular.ttf');
}
@font-face {
    font-family: 'SquarePeg-Regular';
    src: url('../assets/fonts/SquarePeg-Regular.ttf');
}
@font-face{
    font-family: 'LovedbytheKing-Regular';
    src: url('../assets/fonts/LovedbytheKing-Regular.ttf');
}
html{
    font-size: 10px;
}
h1{
    font-family: 'HomemadeApple-Regular','sans-serif';
    font-size: 3rem;
}
.content{
    width: 100%;
}
