*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'HomemadeApple-Regular';
    src: url('../assets/fonts/HomemadeApple-Regular.ttf');
}
@font-face {
    font-family: 'PatrickHand-Regular';
    src: url('../assets/fonts/PatrickHand-Regular.ttf');
}
@font-face {
    font-family: 'SquarePeg-Regular';
    src: url('../assets/fonts/SquarePeg-Regular.ttf');
}
@font-face{
    font-family: 'LovedbytheKing-Regular';
    src: url('../assets/fonts/LovedbytheKing-Regular.ttf');
}
html{
    font-size: 10px;
}
header{
    height: 60px;
    display: flex;
    align-items: center;
}
body,p{
    margin: 30px;
    font-family: 'PatrickHand-Regular';
    font-size: 1.8rem;
}
section{
    background: gray;
    margin: 8px;
    height: auto;
    min-height: 200px;
}
h1{
    font-family: 'HomemadeApple-Regular';
    font-size: 3rem;
}
h2{
    font-family: 'HomemadeApple-Regular';
    font-size: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}
h3{
    font-family: 'HomemadeApple-Regular';
    text-align: center;
    font-size: 1.6rem;
}
.content{
    width: 100%;
    background: transparent;
    padding: 20px;
    display: flex;

    gap:8px
}
